body {
  height: 100vh;
}

.md-editor-dark {
  --md-bk-color: var(--n-body-color) !important;
}

.md-editor-dark div.vuepress-theme {
  --md-theme-color: var(--n-text-color) !important;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
